name: wk16Utc App ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env: 
    python_version: 3.11

jobs: 
    build:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4  #install python on our runner
              with:
                python-version: ${{env.python_version}} # or $python_version
            - name: unit test #testing our code
              run: pytest || true   #one of the unit test tools for python
            - name: Build image #we already have a docker file(ie template) in on Dokerfile
              
              run: |
                   docker build -t ${{secrets.REGISTRY_USER}}/wk16portcicd:${{github.run_number}} .
                  # docker build -t ${{secrets.REGISTRY_USER}}/wk16portcicd .

           
           
           



                  
           
           
           
           # - name: push image to docker hub
           #   run: |
            #       docker login -u ${{secrets.REGISTRY_USER}} -p ${{secrets.REGISTRY_PASS}}
            #       docker push ${{secrets.REGISTRY_USER}}/wk16portcicd:${{github.run_number}}
                   
                  # docker push ${{secrets.REGISTRY_USER}}/wk16portcicd
