name: wk16Utc App ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
      id-token: write
      contents: read

env:
  python_version: 3.11
  IMAGE_NAME: portfolio
  AWS_REGION: us-east-1
  ACCOUNT_ID: ${{secrets.ACCOUNT_ID}}
 # ECR_REPO: $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME


jobs: 
    build:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4  #install python on our runner
              with:
                  python-version: ${{env.python_version}} # or $python_version
            - name: install pytest and dependencies #testing our code
              run: pip install -r requirements.txt
            - name: unit test
              run: pytest test.py

            - name: Configure AWS credentials using OIDC
              uses: aws-actions/configure-aws-credentials@v2
              with:
                role-to-assume: ${{ secrets.ROLE_ARN }}
                aws-region: ${{ env.AWS_REGION }}

            - name: check credential
              run: aws s3 ls

            
            
              
            - name: Build image #we already have a docker file(ie template) in on Dokerfile
              
              run: |
                   docker build -t ${{secrets.REGISTRY_USER}}/wk16portcicd:${{github.run_number}} .
                  # docker build -t ${{secrets.REGISTRY_USER}}/wk16portcicd .

           
           
           




           
           
           
           # - name: push image to docker hub
           #   run: |
            #       docker login -u ${{secrets.REGISTRY_USER}} -p ${{secrets.REGISTRY_PASS}}
            #       docker push ${{secrets.REGISTRY_USER}}/wk16portcicd:${{github.run_number}}
                   
                  # docker push ${{secrets.REGISTRY_USER}}/wk16portcicd
